<form [formGroup]="estadoForm" autocomplete="off">
    <h2>{{accion}} Estado Ticket</h2>
    <mat-grid-list cols="1" rowHeight="380px">
        <mat-grid-tile>
          <mat-card class="example-card">
              
              <mat-form-field appearance="standard">
                  <mat-label>Nombre Estado Ticket</mat-label>
                  <input matInput formControlName="nombre" placeholder="Insertar nombre de estado">
              </mat-form-field>
              
              <mat-form-field appearance="standard">
                  <mat-label>Descripcion</mat-label>
                  <textarea matInput formControlName="descripcion"  placeholder="Escriba su descripcion..."></textarea>
              </mat-form-field>
              
              
          </mat-card>
        </mat-grid-tile>
        
      </mat-grid-list>
      <div mat-dialog-actions [align]="'end'">
        <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="postEstado()"  mat-dialog-close>{{accion}}</button>
    </div>
</form>
